<h1>Meet your Pirate!</h1>
  <p><%= @pirate.name %> is <%= @pirate.height %> tall and weighs <%= @pirate.weight %>.  He enjoys looting and plundering and all around skullduggery!
  </p>


<h2><%= @pirate.name %>'s Ships:</h2>
<p>The primary ship of <%= @pirate.name %> is <%= @ships[0].name %>.  It is a <%= @ships[0].type %> loaded with <%= @ships[0].booty %>.

<p><%= @pirate.name %> prefers to keep his <%= @ships[1].booty %> on his <%= @ships[1].type %>, <%= @ships[1].name %>.
